VITE_FIREBASE_API_KEY=AIzaSyDhHIMa2eXwTrSQkJJirT6xxvylap4hxsM
VITE_FIREBASE_AUTH_DOMAIN=luxpenda.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=luxpenda
VITE_FIREBASE_STORAGE_BUCKET=luxpenda.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=460524744682
VITE_FIREBASE_APP_ID=1:460524744682:web:e617cb300dcfd2f9694c93
VITE_FIREBASE_MEASUREMENT_ID=G-DT3L7MDQ5G